---
---

@import "{{ site.theme }}";

$mq-mobile-landscape	: 480px !default;

// Both portrait and landscape
@mixin mobile-only {
	@media (max-width : $mq-mobile-landscape) {
		@content;
	}
}

@include mobile-only {
    .btn {
        display: inline-block;
        width: 45%;
        margin: 1.5%;
    }
}

body {
    background-color: #2a2e31;
    // background-color: #1d222b;
    color: #FFFFFF;

}