<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="icon" href="/assets/images/rocket.png">
  </head>
  <body>

    <header class="page-header" role="banner">
        <a href="./rocket.html">
            <img width=10% src="/assets/images/rocketPixelFire.gif" >
        </a>
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.owner_url }}" class="btn">GitHub</a>
        <a href="https://www.linkedin.com/in/johnny-rockett-4a39b882/" class="btn">LinkedIn</a>
    </header>

    <main id="content" class="main-content" role="main">
      <!-- {{ content }} -->
      <div class="card">
        <div class="container">
            <div class="zoom">
                <a href="./showcases/EscapeRussia/index.html">
                    <h1>Ray Tracing</h1>
                </a>
            </div>
            <div id="dynamicheight">
                <img width=100% src="/assets/images/RayTracing.gif">
            </div>
            <p>After learning about ray tracing, I implemented a 2D version of it in PixiJS because I thought that it would make a good stealth mechanic. In the game, the player can hide from enemies in realistic ways because the field of view of the enemies is ray traced for accuracy. I allowed for arbitrary objects to obscure the enemy's vision by using a similar format to .obj files. Feel free to play these levels or make your own.</p>
        </div>
        </div>

        <div class="card">
            <div class="container">
                <div class="zoom">
                    <a href="./showcases/csc562-final/src/index.html">
                        <h1>Infinite Fractal Terrain</h1>
                    </a>
                </div>
                <div id="dynamicheight">
                    <img width=100% src="/assets/images/FractalTerrain.png">
                </div>
                <p>As the final project for my Game Engines class, my group made a 3D, infinite, fractally generated environment. It has LOD to make sure it doesn't strain the graphics card too much. Go ahead and walk around! Hit "G" to toggle between flying and walking and hit "F" to toggle your flashlight. In the project, I mostly worked on making the trees generate using fractals, not generate on each other, and generate at different distances from the player based on the tree's size. </p>
            </div>
        </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
